#About {
    background-color: #2D033B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
     border-radius: 10px ;
    color: white;
    text-align: center;
    padding: 10px;
}

#Hobbies {
    background-color:#810CA8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 10px ;
    color: white;
    text-align: center;
    padding: 10px;

}

body {
    background-color: #513252;
     color: white;
     padding: 20px;
}

#Music {
    background-color: #C147E9;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

#Interests {
    background-color: #E5B8F4;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    
}

